/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8/06/2018, 06:53:54 PM
    Author     : Cristhian Ubaldo Promotor
*/
.jfx-button{
    -fx-background-radius: 10;
    -fx-font-size: 16px;
    -jfx-button-type: FLAT;
    -fx-background-color: #f04824;
    -fx-text-fill: WHITE;
}
.menu{
    -fx-background-radius: 2;
    -fx-font-size: 16px;
    -jfx-button-type: FLAT;
    -fx-background-color: #f04824;
    -fx-text-fill: WHITE;
    -fx-opacity: .75;
}
.jfx-button:hover{
    -fx-background-color: #DA4323;
    -fx-cursor: hand;
}
.jfx-text-field{
    -jfx-focus-color:#f04824;
    -jfx-unfocus-color:#000;
}
.jfx-password-field{
    -jfx-focus-color:#f04824;
    -jfx-unfocus-color:#000;
}
.fondo{
    -fx-background-image: url('../imagenes/fondoInicio.jpg');
}
.fondo2{
    -fx-background-color: lightgray;
    -fx-opacity: .20;
}
.accordion .title-pane > *.content{
    -fx-background-color: red;
}

.botonRadio{
    -jfx-button-type: FLAT;
    -fx-background-color: transparent;
    -fx-text-fill: transparent;   
    -fx-background-position: center center; 
    -fx-background-repeat: stretch; 
    -fx-background-size: contain;
    -fx-background-image: url("../imagenes/radioIcon.png");
}

.botonPlay:hover {
    -fx-background-color:  bisque;
}

.botonPlay{
    -jfx-button-type: FLAT;
    -fx-background-color: transparent;
    -fx-text-fill: transparent;   
    -fx-background-position: center center; 
    -fx-background-repeat: stretch; 
    -fx-background-size: contain;
    -fx-background-image: url("../imagenes/playIcon.png");
}

.botonPlay:hover {
    -fx-background-color:  bisque;
}

.botonStop{
    -jfx-button-type: FLAT;
    -fx-background-color: transparent;
    -fx-text-fill: transparent;   
    -fx-background-position: center center; 
    -fx-background-repeat: stretch; 
    -fx-background-size: contain;
    -fx-background-image: url("../imagenes/pausaIcon.png");
}

.botonStop:hover {
    -fx-background-color:  bisque;
}

.botonSiguiente{
    -jfx-button-type: FLAT;
    -fx-background-color: transparent;
    -fx-text-fill: transparent;   
    -fx-background-position: center center; 
    -fx-background-repeat: stretch; 
    -fx-background-size: contain;
    -fx-background-image: url("../imagenes/adelantarIcon.png");
}

.botonSiguiente:hover {
    -fx-background-color:  bisque;
}

.botonAnterior{
    -jfx-button-type: FLAT;
    -fx-background-color: transparent;
    -fx-text-fill: transparent;   
    -fx-background-position: center center; 
    -fx-background-repeat: stretch; 
    -fx-background-size: contain;
    -fx-background-image: url("../imagenes/siguienteIcon.png");    
}

.botonAnterior:hover {
    -fx-background-color:  bisque;
}

.slider {
    -fx-background-color: #f04824;
    -fx-padding: 0.333333em;
}
.slider .fill:hover {
    -fx-background-color: #003333;
}